body{
    background-color: #fcebd0;
    text-align: center;
}

.secao1 {
display:flex;
flex-direction:column;
margin-top: 15%;
padding: 10px;
width: 7%;
}
.secao2 {
    display:flex;
    flex-direction:column;
    margin-top: 20%;
    padding: 8px;
    width: 7%;
    margin-left: -8%;
    
    }
    
.buttonEntrada{

width: 400%;


}